a.tag {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #95a5a6;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: 
}

h3 {
    color: #419eda;
    display: block;
}


h4 {
    color: #f04c5c;
    display: block;
}

/* added by wangzhenhua */
important {
  /* color: #f04c5c; */
  color: red;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

/* code */
/*C {
    font-family: Monaco,Courier,"Courier New";
    font-size: 12px;
    font-weight: bold;
}
*/

C {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Monaco, Menlo, monospace;
  box-sizing: border-box;
}



/* big code */
CB {
    font-family: Monaco,Courier,"Courier New";
    font-size: 15px;
}


hh {
  color: green;
  font-size: 18px;
}


red {
  color: red;
}